body{
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #74ebd5, #acb6e5);
    margin: 0;
}

/* DIV 1 */
#topo{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px;
}

/* DIV 2 */
#conteudo{
    background-color: white;
    width: 80%;
    margin: 30px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

/* Título */
#titulo{
    margin: 0;
}

/* Destaque */
.destaque{
    color: #ff4d4d;
    font-weight: bold;
}

/* LINKS */
.link-musica{
    text-decoration: none;
    color: white;
    background-color: #4a90e2;
    padding: 12px;
    border-radius: 8px;
    display: block;
    width: 200px;
    margin: 10px 0;
    transition: 0.3s;
}

/* PSEUDO-CLASSES */
.link-musica:hover{
    background-color: #2ecc71;
}

.link-musica:active{
    background-color: #e74c3c;
}

.link-musica:visited{
    background-color: #9b59b6;
}

/* PSEUDO-ELEMENTOS */
.link-musica::before{
    content: "♪ ";
}

.link-musica::after{
    content: " ♬";
}